        *{
            margin: 0;
            padding: 0;
            border: 0;
        }

        body {
            background-image: url(https://www.instagram.com/reel/DZe5O8cj1NT/?igsh=OHQzOTZ6cGt3bXUx);
            padding-bottom: 1000px;
        }

        .margin{
            margin: 75% 0;
        }
        .parallax {
            background: url(cat1.png) fixed repeat 100%;
        }

        .parallax-inner{
            padding-top: 30px;
            padding-bottom: 30px;
        }

        h1 {
            color: rgb(255, 255, 255);
            font-size: 200%;
        }